body {
background-color: white;
font-family: Arial, Helvetica, sans-serif;
margin: 0%;
background-size: contain;
max-width: 100%;
}

header{
    background-color: #92B095;
    display: flex;
    justify-content: space-between;
    padding: 5px 36px;
    align-items: center;
}

header nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}
header a {
    text-decoration-line: none;
    color: white;
}

header nav a {
    color: white;
}

header a:hover {
    color: darkolivegreen;
    text-decoration: underline;
}

header h4 {
    color: white;
    text-decoration: none;
}

h1 {
    margin-left: 50px;
    color: #6A7D6C;
    text-align: left;
    font-size: 45px;
}

hr {
    border: none;
    height: 2px;
    background-color: #6A7D6C;
    gap: 4px;
}

section.card {
    margin-left: 180px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-style: oblique;
    gap: 40px;
    font-size: 15px;
}
section a {
    color: #6A7D6C;
    text-decoration: none;
}
section a:hover {
    color: #92B095;
    text-decoration: underline;
}

p.caption {
    margin-left: 50px;
    color: #6A7D6C;
    text-align: left;
    font-size: 15px; 
    font-weight: lighter;
}

section.info a {
    text-decoration: underline;
    
}

p.description {
    margin-inline-start: 30px;
    color: #6A7D6C;
    font-size: 15px;
    text-align: left;
    width: 400px;
}

h3 {
    color: #6A7D6C;
    font-size: 30px;
    text-align: left;
    margin-left: 751px;
    text-decoration: none;
}

section.info div {
    margin-left: 50px;
    padding-bottom: 50px;
    display: flex;
    color: #6A7D6C;
    margin-bottom: 4px;
    margin-top: 50px;
    text-align: left;
}
section.info img {
    width: 400px;
    height: auto;
    margin-left: 40px;
}
section.info a h3{
    margin-inline-start: 30px;
}

.card img {
    transition: filter 0.3s ease;
    width: 400px;
    height: auto;
}
.card img:hover {
    filter: brightness(0.5);
}


footer{
    background-color: #6A7D6C;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 36px;
}
p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media (max-width:600px) {
    body{
        background-color: white;
    }

    header{
        background-color: #92B095;
        display: flex;
        justify-content: space-between;
        padding: 4px 36px;
        align-items: center;
    }
    
    header nav ul {
        margin: 0;
        list-style: none;
        display: flex;
        gap: 8px;
    }
    p.caption {
        display: grid 
    }
    p.description {
        display: grid;
    }
    
    h3 {
        display: grid;
    }
    section.info div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax (300px, 1fr));
    }
    section.card {
        margin-top: 50px;
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        font-style: oblique;
        gap: 40px;
        margin-left: 90px;
    }
    
}
